version: '3.8'

services:
  server:
    image: node
    container_name: six__server
    working_dir: /usr/src/app
    ports:
      - ${SERVER_EXPOSED_PORT}:${SERVER_HTTP_PORT}
    volumes:
      - ./server:/usr/src/app
    environment:
      SERVER_HTTP_PORT: ${SERVER_HTTP_PORT}
      SERVER_ALLOWED_ORIGINS: ${SERVER_ALLOWED_ORIGINS}
      SERVER_SESSION_SECRET: ${SERVER_SESSION_SECRET}      
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
      NODE_ENV: ${NODE_ENV}
    networks:
      - reverse-proxy
      - backend
    depends_on:
      - postgres
    entrypoint: yarn start:dev

  postgres:
    image: postgres
    container_name: six__postgres
    volumes:
      # postgres data that is intended to be persistent
      - ./data/postgres:/var/lib/postgresql/data
    environment: 
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
    networks:
      - backend

  webclient:
    image: node:alpine
    container_name: six__webclient
    working_dir: /usr/src/app
    stdin_open: true
    ports:
      - 80:3000
    volumes:
      - ./webclient:/usr/src/app
    networks:
      - reverse-proxy
    environment:
      REACT_APP_SERVER_PORT: ${SERVER_EXPOSED_PORT}
      NODE_ENV: ${NODE_ENV}
    entrypoint: yarn start

networks:
  reverse-proxy:
  backend: