version: '3.8'

services:
  reverse-proxy:
    image: nginx:alpine
    container_name: six__reverse-proxy
    volumes:
      - ./reverse-proxy/nginx.conf:/etc/nginx/nginx.conf
      - ./reverse-proxy/entrypoint.sh:/entrypoint.sh
      - ./reverse-proxy/tls/private:/etc/ssl/private/
      - ./reverse-proxy/tls/certs:/etc/ssl/certs
    ports:
      - 80:80
      - 443:443
    restart: always
    networks:
      - reverse-proxy
    entrypoint: sh /entrypoint.sh


  server:
    image: node
    container_name: six__server
    working_dir: /usr/src/app
    ports:
      - ${SERVER_EXPOSED_PORT}:${SERVER_HTTP_PORT}
    volumes:
      - ./server:/usr/src/app
    environment:
      SERVER_HTTP_PORT: ${SERVER_HTTP_PORT}
      SERVER_ALLOWED_ORIGINS: ${SERVER_ALLOWED_ORIGINS}
      SERVER_SESSION_SECRET: ${SERVER_SESSION_SECRET}      
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
      NODE_ENV: ${NODE_ENV}
      AUTH_USERNAME_LENGTH_MIN: ${AUTH_USERNAME_LENGTH_MIN}
      AUTH_USERNAME_LENGTH_MAX: ${AUTH_USERNAME_LENGTH_MAX}
      AUTH_PASSWORD_LENGTH_MIN: ${AUTH_PASSWORD_LENGTH_MIN}
      AUTH_PASSWORD_LENGTH_MAX: ${AUTH_PASSWORD_LENGTH_MAX}
      SECURE_SCHEMES: ${SECURE_SCHEMES}
    networks:
      - reverse-proxy
      - backend
    depends_on:
      - postgres
      - reverse-proxy
      - redis
    entrypoint: yarn start:dev

  postgres:
    image: postgres
    container_name: six__postgres
    volumes:
      # postgres data that is intended to be persistent
      - postgres:/var/lib/postgresql/data
      # handles additional initialization settings
      # They don't work if there is an existing data volume
      - ./postgres:/docker-entrypoint-initdb.d
    environment: 
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
    networks:
      - backend

  redis:
    image: redis:alpine
    container_name: six__redis
    # ports: 
    #   - 6379:6379
    # privileged: true
    restart: unless-stopped
    hostname: redis
    networks:
      - backend
    volumes:
      - ./redis/mounts/redis.conf:/usr/local/etc/redis/redis.conf
      - ./redis/mounts/entrypoint.sh:/scripts/entrypoint.sh
      - redis:/data
    command: sh -c "/scripts/entrypoint.sh"


  webclient:
    image: node:alpine
    container_name: six__webclient
    working_dir: /usr/src/app
    stdin_open: true
    ports:
      - 3000:3000
    volumes:
      - ./webclient:/usr/src/app
    networks:
      - reverse-proxy
    environment:
      NODE_ENV: ${NODE_ENV}
      REACT_APP_SECURE_SCHEMES: ${SECURE_SCHEMES}
      REACT_APP_SERVER_PORT: ${SERVER_EXPOSED_PORT}
      REACT_APP_AUTH_USERNAME_LENGTH_MIN: ${AUTH_USERNAME_LENGTH_MIN}
      REACT_APP_AUTH_USERNAME_LENGTH_MAX: ${AUTH_USERNAME_LENGTH_MAX}
      REACT_APP_AUTH_PASSWORD_LENGTH_MIN: ${AUTH_PASSWORD_LENGTH_MIN}
      REACT_APP_AUTH_PASSWORD_LENGTH_MAX: ${AUTH_PASSWORD_LENGTH_MAX}
    entrypoint: yarn start

networks:
  reverse-proxy:
  backend:

volumes:
  postgres:
  redis: